html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  --primary-color: #E7AB36;
  --secondary-color: #f0ba51;
}

@font-face {
  font-family: 'ShadowsIntoLight';
  src: url('/ShadowsIntoLight-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Base */

.heading {
  font-size: 36px;
  text-align: center;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



/* Navbar */

.navbar {
  z-index: 999;
  height: 60px;
  width: 100%;
  color: var(--primary-color);
  background-color: white;
  overflow: hidden;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
}

.buttons-container {
  float: right;
}

.button-empty {
  width: 130px;
  height: 40px;
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

.button-full {
  width: 130px;
  height: 40px;
  background: var(--primary-color);
  color: white;
  margin-top: 10px;
  float: left;
  margin-right: 10px;
}

.navbar-cart {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  float: left;
}

.navbar-cart img {
  height: 32px;
  width: 32px;
  margin-top: 4px;
}

.navbar-content {
  height: 100%;
}

.logo {
  height: 40px;
  margin-right: 50px;
  margin-top: 10px;
  float: left;
}

.logo img {
  height: 100%;
  width: "auto";
}

.menu-items {
  height: 100%;
  list-style-type: none;
  float: left;
}

.menu-item {
  display: inline-block;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.menu-item-clicked {
  font-weight: 600;
  font-size: 18px;
}

.cart-modal {
  position: fixed;
  display: none;
  top: 56px;
  right: 80px;
  width: 360px;
  z-index: 1000;
}

.cart-modal-open {
  display: unset;
}

.cart-heading {
  color: white;
  height: 60px;
  padding-top: 8px;
  font-size: 32px;
  padding-left: 16px;
  text-align: left;
  background-color: var(--primary-color);  
}

.cart-item {
  display: flex;
  width: 100%;
  height: 60px;
  font-size: 24px;
  color: white;
}

.cart-item-dark {
  background-color: var(--secondary-color); 
}

.cart-item-light {
  background-color: var(--secondary-color);  
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.cart-empty {
  background-color: var(--secondary-color); 
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}

.cart-img {
  width: 42px;
  height: 42px;
  align-self: center;
  margin-left: 12px;
}

.cart-img img {
  width: 100%;
  height: 100%;
}

.cart-item-name {
  font-size: 16px;
  align-self: center;
  margin-left: 20px;
}

.cart-item-price {
  font-size: 24px;
  width: fit-content;
  align-self: center;
  margin-right: 12px;
}

.cart-item-delete {
  font-size: 36px;
  padding-top: 4px;
  width: fit-content;
  margin-left: 12px;
  margin-right: 12px;
}

.cart-item-spacer {
  flex: 1;
}

.cart-footer {
  width: 100%;
  height: 60px;
  background-color: var(--primary-color); 
}

.cart-footer .cart-total {
  width: 50%;
  color: white;
  float: left;
  padding-top: 20px;
}

.cart-footer .cart-checkout-button {
  width: 50%;
  float: left;
}

.cart-footer .button-empty {
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  float: right;
}

/* Homepage */

.home-hero {
  width: 100%;
  height: 80vh;
}

.home-hero video {
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

.home-hero-content {
  position: absolute;
  top: 60vh;
  right: 100px;
  width: 680px;
  height: 25vh;
}

.home-hero-text {
  font-size: 48px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-family: Bradley Hand ITC;
  font-weight: 600;
}

.home-hero-button-container .button-full {
  float: unset;
  width: 200px;
  font-size: 24px;
  height: 60px;
}

.home-hero-button-container {
  width: 100%;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  margin-top: 4px;
  padding-top: 8px;
  color: white;
  /* -webkit-box-shadow: 6px 4px 4px -2px #000000; 
  box-shadow: 6px 4px 4px -2px #000000; */
}


.ingredients-container {
  margin-top: 80px;
  padding-top: 100px;
  background-color: white;
}


.ingredients-container .heading {

}

.ingredient-container {
}

.ingredient-image { 
  width: 100%;
  position: relative;
  height: 420px;
}

.ingredient-image img {
  width: 200px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: drop-shadow(12px 24px 25px rgba(0,0,0,0.75));
  transition: all .2s ease-in-out;
}

.ingredient-image img:hover {
  transform: scale(1.2);
}


.ingredient-name {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-top: 12px;
}

/* Popular Products */

.products-container {
  margin-top: 150px;
}

.product-container {
  padding-top: 60px;
  height: 540px;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
}

.product-price {
  text-align: right;
  font-size: 24px;
  margin-bottom: 8px;
}

.product-name {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.product-description {
  opacity: 0.75;
  text-align: center;
}

.product-image img {
  width: 72%;
  margin-left: 14%;
}

.product-spacer {
  flex: 1;
}

.product-actions {
  align-self: flex-end;
}

.product-actions .button-full {
  padding-right: 0;
  margin-right: 0;
}

/* Testimonials */

.testimonial-container {
  margin-top: 150px;
}

.testimonial-container .col-lg-6 {
  padding: 0;
}

.testimonial-container .heading {
  margin-bottom: 100px;
}

.testimonial-container > .tile > div {
  position: relative;
  display: table; 
}

.testimonial-image {
  width: 100%;
}

.testimonial-image img {
  width: 100%;
  height: auto;
}

.testimonial-content {
  width: 100%;
  margin: auto;
  display: block;
  padding-right: 20px;
  padding-left: 120px;
  display: table-cell;
  vertical-align: middle;
}

.testimonial-content-right {
  text-align: right;
  padding-right: 64px;
  padding-left: 120px;
}

.testimonial-content-left {
  text-align: left;
  padding-right: 120px;
  padding-left: 64px;
}

.testimonial-name {
  font-size: 28px;
  font-weight: 600;
}

.testimonial-position {
  color: #ababab;
  font-size: 16px;

}

.testimonial-quote {
  padding-top: 20px;
  opacity: 0.75;
}

.testimonial-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(231,171,54,0.5);
  z-index: 2;
	overflow: hidden;
}

/* About us */

/* Contact */

/* Blog */

/* Account */

/* Shop */

/* Product page */

/* Post page */

/* Footer */

.footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
  height: auto;
  color: var(--primary-color);
  background-color: white;
  float: left;
}

.footer hr {
  opacity: 0.5;
  width: 100%;
}

.footer-upper-hr {
  margin-bottom: 80px;
}

.footer-menu {
  width: 100%;
  height: 100px;
  display: flex;
}

.footer-menu-left, .footer-menu-right {
  height: 100%;
  list-style-type: none;
  flex: 1;
}

.footer-menu-left span, .footer-menu-right span {
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
}

.footer-menu-left {
  display: block;
  float: left;
  justify-content: flex-start;
  padding-left: 60px;
}

.footer-menu-right {
  display: block;
  padding-right: 60px;
}

.footer-menu-right .footer-menu-container {
  width: fit-content;
  float: right;
}

.footer-logo {
  justify-content: center;
  margin: 0 auto;
  flex-basis: auto;
}

.footer-logo img {
  height: 32px;
  width: auto;
  margin: 0 auto;
}

.footer-bottom {
  width: auto;
  margin: 0 auto;
  padding-top: 60px;
}

.footer-social {
  display: table;
  height: 50px;
  margin: 0 auto;
}

.footer-social-item {
  width: 42px;
  height: 42px;
  float: left;
}

.footer-social-item img {
  width: 100%;
  height: 100%;
}

.footer-copyright {
  text-align: center;
  color: black;
  opacity: 0.5;
  padding-top: 20px;
}

/* Newsletter */

.newsletter {
  background-color: #F5F5F5;
  width: 100%;
  height: 148px;
  margin-top: 100px;
}

.newsletter .heading {
  float: left;
  padding-top: 44px;
  padding-left: 44px;
}

.newsletter .buttons-container {
  padding-top: 44px;
  padding-right: 44px;
}

/* Shop */

.shop-container {
  padding-top: 120px;
}

.shop-header {
  width: 100%;
}

.shop-heading {
  text-align: left;
  font-size: 42px;
  padding-left: 40px;
  font-weight: 600;
  color: var(--primary-color);
}

.shop-subheading {
  text-align: left;
  font-size: 24px;
  padding-left: 40px;
  opacity: 0.5;
}

.category-page-container {
  padding-top: 150px !important;
}

.categories-grid {
  padding-top: 20px;
}

.category-item {
  margin-top: 60px !important;  
}

.category-name {
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-size: 24px;
  color: var(--primary-color);
}

.category-name a {
  
}

.category-image-container {
  width: 100%;
}

.category-item img {
  width: 60%;
  margin-left: 20%;
}

.product-grid-price {
  opacity: 0.5;
}

/* Hero image */

.hero-image-container {
  width: 100%;
  height: 60vh;
}

.about-us-hero-image-container {
  height: 50vh;
}

.blog-hero-image-container {
  height: 60vh;
}

.hero-image-container img {
  position: absolute; 
  right: 0; 
  bottom: 20vh;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  overflow: hidden;
}

.about-us-hero-image-container img {
  min-width: unset;
  min-height: unset;
  top: 60px;
  bottom: unset;
}

.post-page-container {
  background-color: white;
  padding-top: 60px;
}

.blog-page-container {
  background-color: white;
}

.blog-posts {
  padding-top: 48px;
}

.blog-post {
  width: 100%;
  height: 160px;
  float: left;
  margin-top: 25px !important;
  display: table;
}

.blog-post-image {
  height: 160px;
  float: left;
}

.blog-post-image img {
  height: 100%;
  width: 100%;
}

.blog-post-title {
  height: 160px;
  font-size: 24px;
  padding-left: 32px;
  display: table-cell;
  vertical-align: middle;
}

.blog-post-content {
  float: left;
  height: 100px;
}

.about-us-page-container .heading {
  font-weight: 600;
  color: var(--primary-color);
}

.about-us-page-container img {
  width: 100%;

}

.about-us-page-container .tile {
  padding-top: 120px;
  position: relative;
}


.about-us-page-container .tile > div {
  display: table; 
}



.about-us-page-container .about-us-text {
  font-size: 28px;
  text-align: center;
  align-self: center;
  display: table-cell;
  vertical-align: middle;
  padding-left: 16px;
  padding-right: 16px;
}

.about-us-page-content {
}


/* FAQ */

.faq-hero-image-container {
}

.faq-hero-image-container img {
  top: -160vh;
}

.id-accordion .id-accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.id-accordion .id-accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #333333;
}
.id-accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.id-accordion button:hover, .id-accordion button:focus {
  cursor: pointer;
  color: #333333;
}
.id-accordion button:hover::after, .id-accordion button:focus::after {
  cursor: pointer;
  color: #333333;
  border: 1px solid #333333;
}
.id-accordion button .id-accordion-title {
  padding: 1em 1.5em 1em 0;
}
.id-accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.id-accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.id-accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.id-accordion button[aria-expanded='true'] {
  color: #333333;
}
.id-accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.id-accordion button[aria-expanded='true'] + .id-accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.id-accordion .id-accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.id-accordion .id-accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

#id-faq {
  padding-top: 60px;
  padding-bottom: 60px;
}

.id-accordion-content div {
  padding: 20px;
}

/* Account */

.account-page-container {
  padding-top: 120px;
  padding-bottom: 80px;
}

.account-inputs-container {
  padding-top: 40px;
  padding-bottom: 20px;
}

.account-input-container {
  width: 100%;
  height: 48px;
  padding-top: 8px;
}

.account-page-container input {
  display: block;
  width: 200px;
  height: 100%;
  margin: 0 auto;
  padding-left: 8px;
}

.account-page-container button {
  display: block;
  width: 200px;
  margin: 0 auto;
  float: unset;
}

/* Product page */

.product-page-container {
  padding-top: 150px;
}

.product-page-name {
  color: var(--primary-color);
  padding-bottom: 10px;
}

.product-page-price-container {
  width: 100%;
  float: left;
  margin-top: 12px;
}

.product-page-price {
  float: right;
  font-size: 28px;
}

.product-page-container .product-actions-container {
  width: 100%;
  float: left;
  margin-top: 8px;
}

.product-page-container .product-actions {
  float: right;
}


/* Responsive */

@media(max-width: 767px) {

  .home-hero {
    display: none;
  }

  .home-hero-mobile {
  }

  .home-hero-content {
    width: 100%;
    right: 0;
    top: 50vh;
  }

}

@media(min-width: 768px) {

  .home-hero {
  }

  .home-hero-mobile {
    display: none;
  }

}